@import '_normalize';
@import '_variables';
@import '_templates';
@import '_fonts';
@import '_header';
@import '_main';
@import '_footer';
@import '_responsive';
@import '_PageDesign';
@import '_PageSite';

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 98%;
}

a.gif {
  // position: absolute;
  display: inline-block;
  // background: url('../img/animation/__3.gif');
  width: 350px;
  height: 350px;
}
// a.gif:hover {
//   background:none; /* Фон (статичное изображение) не было видно при наведении мыши */
// }

a.gif img {
  max-width: 400px;
  width: 98%;
}

// a.gif:hover img {
//   visibility:visible; /* При наведении анимация показывается */
//   border:0; /* без обрамления */
//   }
