@import '_normalize';
@import '_variables';
@import '_templates';
@import '_fonts';
@import '_header';
@import '_main';
@import '_footer';
@import '_responsive';
@import '_PageDesign';
@import '_PageSite';

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 98%;
}