<footer class="footer footer-wrapper">
	<div class="footer-container container">
		<div class="footer-form">
			<form action="#" class="form">
				<p class="form-title">Давай мы тебе позвоним?</p>
				<p class="form-subtitle">или напишем, как хочешь)</p>
				<input type="text" class="footer-input__name footer-input" placeholder="Здесь укажи имя">
				<input type="text" class="footer-input__number footer-input" placeholder="Номер телефона">
				<div class="footer-check">
					<input type="radio" class="input__write " name="forme" value="write">
					<label for="write" class="footer-radio">Написать</label>
					<input type="radio" class="input__call " name="forme" value="call">
					<label for="call" class="footer-radio">Позвонить</label>
				</div>
				<button class="form-button">А, давайте</button>
			</form>
		</div>
	</div>
	<!-- /.footer-container container -->
			<div class="footer-bottom">
				<div class="footer-bottom__container container">
					<nav class="footer-bottom__nav">
						<a href="#" class="footer-nav__link">IT</a>
						<a href="#" class="footer-nav__link">Дизайн</a>
						<a href="#" class="footer-nav__link">Портфолио</a>
						<a href="#" class="footer-nav__link">Услуги</a>
						<a href="#" class="footer-nav__link">Контакты</a>
					</nav>
				</div>
			</div>


</footer>
<!-- /.footer footer-wrapper -->