<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" 
		integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" 
		crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="stylesheet" href="./css/swiper-bundle.css">
	<title></title>
</head>

<body>
<header class="header-wrapper">
	<div class="header-container container">
		<div class="header-logo">
			<a href="../index.html"><img src="./img/logo_black.png" alt="logo" class="logo"></a>
  		</div>
  <nav class="header-nav">
	<a href="../digital.html" class="header-nav__link">Диджтал</a>
	<a href="../design.html" class="header-nav__link">Дизайн</a>
	<a href="#" class="header-nav__link">Моушн</a>
	<a href="#" class="header-nav__link">Маркетинг</a>
	<a href="../contacts.html" class="header-nav__link">Контакты</a>
  </nav>
  <!-- /.header-nav -->
  
  <div class="header-call">
	  <a href="#" class="header-call__link">
		<!-- <img src="./img/icon/icon_phone.png" alt="phone" class="header-call__icon">   -->
		Обратный звонок
	</a>
  </div>
	</div> 
	<!-- /.header-container container -->
</header>
<!-- /.header-wrapper -->