<header class="header-wrapper">
	<div class="header-container container">
		<div class="header-logo">
			<img src="./img/logo_black.png" alt="logo" class="logo">
  		</div>
  <nav class="header-nav">
	<a href="../digital.html" class="header-nav__link">Диджтал</a>
	<a href="../design.html" class="header-nav__link">Дизайн</a>
	<a href="#" class="header-nav__link">Моушн</a>
	<a href="#" class="header-nav__link">Маркетинг</a>
	<a href="#" class="header-nav__link">Контакты</a>
  </nav>
  <!-- /.header-nav -->
  
  <div class="header-call">
	  <a href="#" class="header-call__link">
		<!-- <img src="./img/icon/icon_phone.png" alt="phone" class="header-call__icon">   -->
		Обратный звонок
	</a>
  </div>
	</div> 
	<!-- /.header-container container -->
</header>
<!-- /.header-wrapper -->