<section class="slider container">
	<!-- Slider main container -->
<div class="swiper-container">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
	  <!-- Slides -->
	  <div class="swiper-slide">
		  <div class="slide-img">
			  <img src="../img/slider/picture-slide1.png" alt="talk">
		  </div>
		  <div class="slide-content">
			  <p class="slide-content__title">Бриф и анализ</p>
			  <p class="slide-content__description">
				На первом этапе происходит знакомство. Мы встречаемся или созваниваемся и проходимся по брифу (опроснику) который поможет нам разобраться для чего нужно приложение, какие функции должно выполнять и что для вас в важно. Так же можно набросать эскиз  чтобы визуально понять количество окон, расположение блоков и определить фронт работ. 
			  </p>
		  </div>
	  </div>
	</div>
	<!-- If we need pagination
	<div class="swiper-pagination"></div> -->
  
	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
  
	<!-- If we need scrollbar
	<div class="swiper-scrollbar"></div> -->
  </div>
  
</section>
<!-- /.slider -->