<section class="slider-container ">
	<!-- Slider main container -->
<div class="swiper-container">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
	  <!-- Slides -->
	  <div class="swiper-slide">
		  <div class="slide-block">
        <div class="slide-img">
          <img src="../img/slider/app/picture-slide1.png" alt="talk" class="slide-img__picture">
        </div>
        <div class="slide-content">
          <p class="slide-content__title">Бриф и анализ</p>
          <p class="slide-content__description">
          На первом этапе происходит знакомство. Мы встречаемся или созваниваемся и проходимся по брифу (опроснику) который поможет нам разобраться для чего нужно приложение, какие функции должно выполнять и что для вас в важно. Так же можно набросать эскиз  чтобы визуально понять количество окон, расположение блоков и определить фронт работ. 
          </p>
        </div>
	  	</div>	
	  </div>
	  <div class="swiper-slide">
		  <div class="slide-block">
        <div class="slide-img">
          <img src="../img/slider/app/picture-slide2.png" alt="talk" class="slide-img__picture">
        </div>
        <div class="slide-content">
          <p class="slide-content__title">Прототип</p>
          <p class="slide-content__description">
            На этапе прототипа мы создаем продумыыаем пользовательское поведение, определяем основные экраны и их наполнение, работаем над логикой приложения.
          </p>
        </div>
	  	</div>	
	  </div>
	  <div class="swiper-slide">
		  <div class="slide-block">
        <div class="slide-img">
          <img src="../img/slider/app/picture-slide3.png" alt="talk" class="slide-img__picture">
        </div>
        <div class="slide-content">
          <p class="slide-content__title">Дизайн</p>
          <p class="slide-content__description">
            Далее наполняем приложение дизайном, если у компании есть фирменный стиль, то он обязательно будет повторен в приложении. Разрабатываем дизайны экранов с использованием знаний юзабилити. 
          </p>
        </div>
	  	</div>	
	  </div>
	  <div class="swiper-slide">
		  <div class="slide-block">
        <div class="slide-img">
          <img src="../img/slider/app/picture-slide4.png" alt="talk" class="slide-img__picture">
        </div>
        <div class="slide-content">
          <p class="slide-content__title">техническая реализация</p>
          <p class="slide-content__description">
            После утверждения дизайна макет передаем вертальщику.Мы полностью контролируем процесс сборки приложения, поэтому вы можете быть уверены в его качестве.
          </p>
        </div>
	  	</div>	
	  </div>
	  <div class="swiper-slide">
		  <div class="slide-block">
        <div class="slide-img">
          <img src="../img/slider/app/picture-slide5.png" alt="talk" class="slide-img__picture">
        </div>
        <div class="slide-content">
          <p class="slide-content__title">Тестирование</p>
          <p class="slide-content__description">
            После сборки приложение идет этап тестирования. Проводим тестирования на различных устройствах чтобы исключить возможность ошибок и передать вам качественный продукт. 
          </p>
        </div>
	  	</div>	
	  </div>
	  <div class="swiper-slide">
		  <div class="slide-block">
        <div class="slide-img">
          <img src="../img/slider/app/picture-slide6.png" alt="talk" class="slide-img__picture">
        </div>
        <div class="slide-content">
          <p class="slide-content__title">техническая поддержка</p>
          <p class="slide-content__description">
            После завершения всех работ и передачи вам готового приложения, мы не оставляем работу, а продолжаем вести приложения, устраняя возможные ошибки и работаем над усовершенствованием приложения.
          </p>
        </div>
	  	</div>	
	  </div>

	</div>

	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
  
	<!-- If we need navigation buttons
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div> -->
  
	<!-- If we need scrollbar
	<div class="swiper-scrollbar"></div> -->
  </div>
  
</section>
<!-- /.slider -->