<section class="slider-container ">
	<!-- Slider main container -->
<div class="swiper-container">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
	  <!-- Slides -->
	  <div class="swiper-slide">
		  <div class="slide-block">
        <div class="slide-img">
          <img src="../img/slider/picture-slide1.png" alt="talk" class="slide-img__picture">
        </div>
        <div class="slide-content">
          <p class="slide-content__title">Бриф и анализ</p>
          <p class="slide-content__description">
          На первом этапе происходит знакомство. Мы встречаемся или созваниваемся и проходимся по брифу (опроснику) который поможет нам разобраться для чего нужно приложение, какие функции должно выполнять и что для вас в важно. Так же можно набросать эскиз  чтобы визуально понять количество окон, расположение блоков и определить фронт работ. 
          </p>
        </div>
	  	</div>	
	  </div>
	  <div class="swiper-slide">
		  <div class="slide-block">
        <div class="slide-img">
          <img src="../img/slider/picture-slide3.png" alt="talk" class="slide-img__picture">
        </div>
        <div class="slide-content">
          <p class="slide-content__title">Эскиз</p>
          <p class="slide-content__description">
            После брифа дизайнер начинает разработку логотипа. На этом этапе происходит анализ конкурентов, поиск источников вдохновения и эскизирование. После чего эскизы переносятся в цифровой вид и дорабатываются.
          </p>
        </div>
	  	</div>	
	  </div>
	  <div class="swiper-slide">
		  <div class="slide-block">
        <div class="slide-img">
          <img src="../img/slider/picture-slide4.png" alt="talk" class="slide-img__picture">
        </div>
        <div class="slide-content">
          <p class="slide-content__title">Презентация</p>
          <p class="slide-content__description">
            После того как эскизы были проработаны, дизайнер с командой выделят три фаворита и готовит их к презентации, для лучшей визуализации и более легкого принятия решения заказчиком.  С помощью цифровой презентации можно посмотреть на логотип в будущей среде и понять как он будет работать .
          </p>
        </div>
	  	</div>	
	  </div>
	  <div class="swiper-slide">
		  <div class="slide-block">
        <div class="slide-img">
          <img src="../img/slider/picture-slide5.png" alt="talk" class="slide-img__picture">
        </div>
        <div class="slide-content">
          <p class="slide-content__title">Внесение правок</p>
          <p class="slide-content__description">
            После презентации идет этап корректировок, обычно их три. И после всех внесенных изменений, дизайнер готовит логотип к передачи заказчику. Мы предоставляем вам все необходимые варианты форматов, от PDF и ветокторных, до простых JPG  и PNG.
          </p>
        </div>
	  	</div>	
	  </div>

	</div>

	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
  
	<!-- If we need navigation buttons
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div> -->
  
	<!-- If we need scrollbar
	<div class="swiper-scrollbar"></div> -->
  </div>
  
</section>
<!-- /.slider -->